{% load static %}
<!DOCTYPE html>
<html lang='pt-br'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Otimizador de calendário</title>
    </head>
    <body>
        <button id = 'create-user'>Cadastrar usuário</button>
        <button id = 'login-user'>Logar usuário</button>

        <form>
          <label for="nick">Nome de usuário:</label><br>
          <input type="text" id="nick" name="nick" value=""><br>
          <label for="passwd">Senha:</label><br>
          <input type="password" id="passwd"  name="passwd" value=""><br><br>
        </form> 

        <script src="{% static 'js/authpage.js' %}"></script>
    </body>
</html>
