{% load static %}
<!DOCTYPE html>
<html lang='pt-br'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Otimizador de calendário</title>
    </head>
    <body>
        <input id="file-input" type="file" name="name" style="display: none;" /> <!-- Invisivel mesmo -->
        <button id = 'importFile'>Importar atividades de arquivo</button> <!-- Soh importa pra tela -->
        <button id = 'exportFile'>Exportar atividades para arquivo</button>
        <button id = 'create'>Criar atividade</button> <!-- nao sincroniza com o banco de dados -->
        <button id = 'delete'>Remover atividades</button> <!-- nao sincroniza com o banco de dados -->
        <button id = 'read'>Carregar atividades salvas no sistema</button> 
        <button id = 'update'>Salvar atividades no sistema</button>
        <button id = 'compute'>Computar escolha ótima</button>
        <!-- TODO: Talvez queiramos mostrar como um calendario mesmo, estilo google calendar, e talvez nem precise de botão pra isso -->
        <button id = 'visualize'>Visualizar calendário (pode ignorar esse)</button>
        <button id = 'goBack'> Voltar para página de login</button>
        <button id = 'clean'> Limpar atividades na tela</button>

        <p></p>
        <div id = 'loadedCalendar'>Atividades carregadas aparecerão aqui!</div>
        {% csrf_token %}
        <p></p>
        <p></p>
        <p>Escolha ótima:</p>
        <div id = 'answer'>Escolha ótima aparecerá aqui </div>

        <script src="{% static 'js/homepage.js' %}"></script>
    </body>
</html>
