{% load static %} <!-- Loads static CSS and JS files from Django app -->

<!DOCTYPE html>
<html lang='pt-br'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Otimizador de calendário</title>

        <link rel="stylesheet" href="{% static 'css/homepage.css' %}"> <!-- Link to custom CSS file -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@2.3.3/event-calendar.min.css"> <!-- Link to external CSS file -->
        <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@2.3.3/event-calendar.min.js"></script> <!-- Include external JavaScript library -->    

    </head>
    <body>

        
        <div class="page">
            <div class="lateral-bar">
                <button id = 'goBack'>Sair</button>

                <button id = 'importFile'>Importar atividades</button> <!-- Only imports to screen -->
                <button id = 'exportFile'>Exportar atividades</button>
            
                <button id = 'delete'>Remover atividade</button> <!-- Does not sincronize with Database -->
                <button id = 'clean'> Limpar atividades</button>
                
                <button id = 'read'>Carregar atividades</button> 
                <button id = 'update'>Salvar atividades</button>
     
                <button id = 'compute'>Otimizar</button>
            </div>

            <div class="content">

                <div id='create-activity'>
                    <!-- Content for creating a new activity can be added here -->
                </div>

                <input id="file-input" type="file" name="name" style="display: none;" /> <!-- Input for file selection (invisible) -->
                
                <h2 class="subtitle">Suas Atividades:</h2>
                <p></p>
                <div id = 'loadedCalendar'></div>
                <p></p>
                
                <div id="unoptimized"></div>

                <p></p>
                <h2 class="subtitle">Escolha ótima:</h2>
                <div id = 'answer'></div>
                
                <div id="optimized"></div>
            </div>
        </div>

        <script type="text/javascript" src="{% static 'js/homepage.js' %}"></script> <!-- Link to custom JS file -->
    </body>
</html>
