<!DOCTYPE html>
<html lang='pt-br'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Otimizador de calendário</title>
    </head>
    <body>
        <button id = 'importFile'>Importar atividades de arquivo</button>
        <button id = 'exportFile'>Exportar atividades para arquivo</button>
        <button id = 'create'>Criar atividade</button>
        <button id = 'read'>Carregar atividades</button>
        <button id = 'update'>Editar atividades</button>
        <button id = 'delete'>Remover atividades</button>
        <button id = 'compute'>Computar escolha ótima</button>
        <!-- Talvez queiramos mostrar como um calendario mesmo, estilo google calendar, e talvez nem precise de botão pra isso -->
        <button id = 'visualize'>Visualizar calendário</button>

        <p></p>
        <div id = 'answer'>Atividades carregadas aparecerão aqui!</div>


        <script>
            async function sendGet(url) {
                return fetch(url)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('ERROR');
                        }
                        return response.json();
                    })
                    .catch(error => {
                        console.log('ERROR');
                    });
            }


            const activitiesList = document.getElementById('answer');

            async function showCalendar(acts) {
                var activities = (await acts).acts;
                var ul = document.createElement('ul');
                for(var i = 0; i < activities.length; i++) {
                    var act = activities[i];

                    var newLi = document.createElement("li");
                    var ul2 = document.createElement('ul');
                    newLi.appendChild(ul2);

                    var liVal = document.createElement('li');
                    var texVal = document.createTextNode('Valor = '+act.value.toString());
                    liVal.appendChild(texVal);
                    ul2.appendChild(liVal);


                    var liPeop = document.createElement('li');
                    var texPeop = document.createTextNode('Lista de pessoas:\n');
                    liPeop.appendChild(texPeop);
                    var ulPeop = document.createElement('ul');
                    for(var j = 0; j < act.people.length; j++) {
                        var person = act.people[j];
                        var liPers = document.createElement('li');
                        var texPers = document.createTextNode(person);
                        liPers.appendChild(texPers);
                        ulPeop.appendChild(liPers);
                    }
                    liPeop.appendChild(ulPeop);
                    ul2.appendChild(liPeop)


                    var liLocs = document.createElement('li');
                    var texLocs = document.createTextNode('Lista de lugares:\n');
                    liLocs.appendChild(texLocs);
                    var ulLocs = document.createElement('ul');
                    for(var j = 0; j < act.locations.length; j++) {
                        var locat = act.locations[j];
                        var liLoc = document.createElement('li');
                        var texLoc = document.createTextNode(locat);
                        liLoc.appendChild(texLoc);
                        ulLocs.appendChild(liLoc);
                    }
                    liLocs.appendChild(ulLocs);
                    ul2.appendChild(liLocs)


                    var liScheds = document.createElement('li');
                    var texScheds = document.createTextNode('Lista de alocações temporais:\n');
                    liScheds.appendChild(texScheds);
                    var ulScheds = document.createElement('ul');
                    for(var j = 0; j < act.schedules.length; j++) {
                        var schedul = act.schedules[j];
                        var liSched = document.createElement('li');
                        var texSched = document.createTextNode('Alocação número '+(i+1).toString()+':\n');
                        liSched.appendChild(texSched);

                        var ulSched = document.createElement('ul');
                        for(var k = 0; k < schedul.length; k++) {
                            var interv = schedul[k];
                            var liInterv = document.createElement('li');
                            var texInterv = document.createTextNode('Começo = '+interv[0]+', Fim = '+interv[1]);
                            liInterv.appendChild(texInterv);
                            ulSched.appendChild(liInterv);
                        }
                        liSched.appendChild(ulSched);
                        ulScheds.appendChild(liSched);
                    }
                    liScheds.appendChild(ulScheds);
                    ul2.appendChild(liScheds)


                    ul.appendChild(newLi);
                }
                activitiesList.innerHTML = '';
                texActs = document.createTextNode('Lista de atividades carregadas:\n');
                activitiesList.appendChild(texActs);
                activitiesList.appendChild(ul);
            }

            const importFileButton = document.getElementById('importFile');
            const exportFileButton = document.getElementById('exportFile');
            const createButton = document.getElementById('create');
            const readButton = document.getElementById('read');
            const updateButton = document.getElementById('update');
            const deleteButton = document.getElementById('delete');
            const computeButton = document.getElementById('compute');
            const visualizeButton = document.getElementById('visualize');


            importFileButton.addEventListener('click', function() {
                // Abrir janela de escolher arquivo JSON
                // Ler do arquivo escolhido os dados e passar pra tela
            });

            exportFileButton.addEventListener('click', function() {
                // Criar arquivo JSON com os dados
                // Fazer download do arquivo (janelinha pro usuário decidir oq fazer)
            });

            createButton.addEventListener('click', function() {
                // Abrir janelinha pra preencher os dados da atividade
                // Quando o usuário clica em concluído, salva no banco de dados e mostra na listinha
            });

            readButton.addEventListener('click', function() {
                // Mandar um aviso de que vai sobrescrever oq tah na tela atualmente pelo que tá salvo no sistema
                if(confirm("Os dados na sua tela serão sobrescritos pelo que está salvo no banco de dados! Deseja continuar?")) {
                    // Baixar do banco de dados as atividades
                    let calend = sendGet('/getCalendar');
                    // Mostrar as atividades
                    showCalendar(calend);
                }
            });

            updateButton.addEventListener('click', function() {
                // Só envia a versão nova das atividades que foram modificados pro banco de dados
            });

            deleteButton.addEventListener('click', function() {
                // Abre aviso de que vai apagar todas as atividades
                // Apaga todas atividades no BD e na tela
            });

            computeButton.addEventListener('click', function() {
                // Computa resposta e mostra atividades escolhidas, acho que abaixo das atividades normal serviria já
            });

            visualizeButton.addEventListener('visualize', function() {
                // Abrir janelinha com as opções de mostrar como semana mês ano etc (queremos isso?)
                // Carregar visualização em formato de calendário com eventos nos horários
                // Talvez nem precise desse botão e possa carregar automaticamente.
                // Talvez esse botão troque entre a visualização como lista e a visualização como calendário
            });

        </script>
    </body>
</html>
