body, div {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    height: 100%;
}

.lateral-bar {
    position: fixed;
    width: 250px;
    height: 100%;

    border-right: 5px solid cadetblue;
    background-color: rgb(127, 149, 150);
}

.lateral-bar button {
    display: block; /* Isso garante que cada botão esteja em uma linha separada */
    width: 100%;
    padding: 10px;
    margin: 5px 0; /* Espaçamento entre os botões */
    border: none;
    background-color: transparent;
    color: azure;
    text-align: left; /* Alinhamento do texto à esquerda */
    font-size: 20px;
}

.lateral-bar button:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Cor de fundo com transparência */
    cursor: pointer; /* Altera o cursor para uma mãozinha */
}

/* Estilos para os botões quando focados (tab ou click) */
.lateral-bar button:focus {
    outline: none; /* Remove a borda padrão de foco */
    box-shadow: 0 0 5px cadetblue; /* Adiciona uma sombra de foco */
}

.content {
    float: right;
    width: 100%;
    margin-left: 260px;
    padding: 10px;
}

#loadedCalendar, #answer {
    border-bottom: 5px solid cadetblue;
    margin-bottom: 10px;
}

#loadedCalendar ul {
    padding: 10px;
    padding-left: 30px;
    border-radius: 5px;
    color: white;
    margin-bottom: 15px;
}

.subtitle {
    color: black;
}



.date-input {
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style for when the input is focused */
.date-input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}

/* Style for placeholder text */
.date-input::placeholder {
    color: #999;
}


/* Estilo para botão */
.activity-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: rgb(127, 149, 150);
    color: white;
    cursor: pointer;
    margin-bottom: 4px;
}

/* Estilo para quando o botão é hover (quando o mouse está sobre ele) */
.activity-button:hover {
    background-color: rgb(101, 119, 120);
}

.text-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 4px;
}

.text-input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}
